
{{ define "admin/manager/index.html" }}

{{ template "admin/public/page_header.html" .}}
{{ template "admin/public/page_aside.html" .}}
<!-- <div class="panel panel-default">
    <div class="panel-heading">
        搜索
    </div>
    <div class="panel-body">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="name">名称</label>
                <input type="text" class="form-control" id="name" placeholder="请输入名称">
            </div>
        </form>
    </div>
</div> -->
<!--
    列表展示
-->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="th">
                <th>管理员名称</th>
                <th>管理员电话</th>
                <th>管理员邮箱</th>
                <th>管理员角色</th>  
                <th>创建时间</th>                                                  
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
        {{range $key,$value := .managerList}}
        <tr>
            <td>{{$value.Username}}</td>
            <td>{{$value.Mobile}}</td>
            <td>{{$value.Email}}</td>
            <td>{{$value.Role.Title}}</td>
            <td>{{UnixToToTime $value.AddTime}}</td>
          
            <td class="text-center">修改  删除</td>
        </tr>
        {{end}}

        </tbody>
    </table>
</div>

</body>
</html>

{{end}}