{{ define "admin/login/login.html" }}
{{ template "admin/public/icon.html" .}} 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>用户登录</title>  
	<link rel="stylesheet" href="/static/admin/css/login.css"> 
   </head>
<body>
    <div class="main">

    
    <form class="form card">

        <div class="card_header">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path fill="currentColor" d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z"></path>
          </svg>
          <h1 class="form_heading">Sign in</h1>
        </div>

        <div class="field">
          <label for="username">用户名</label>
          <input class="input" name="username" type="text" placeholder="Username" id="username">
        </div>

        <div class="field">
          <label for="password">密码</label>
          <input class="input" name="user_password" type="password" placeholder="Password" id="password">
        </div>

        <div class="field">
            <label for="verify">验证码</label>
            <input class="input" name="verify" type="text" placeholder="verify"  id="verify" >
            <!-- 写验证码图片的地方 -->
            <img id="verify_img" src="/admin/verify" title="看不清？点击刷新" onclick="javascript:this.src='/admin/verify?mt='+Math.random()">
        </div>

        <div class="field">
            <button class="button">Login</button>
          </div>

      </form>
    </div>
</body>
</html>

{{end}}