{{ define "admin/goods/index.html" }}
{{ template "admin/public/page_header.html" .}}

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/admin/goods/add" class="btn btn-primary">增加商品</a>
            </div>
            <!--
                列表展示
            -->
            <div class="table-responsive">
               商品列表页面
            </div>
        </div>
    </div>
</div>

</body>
</html>

{{end}}