{{ define "front/index/index.html" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>某米商城</title>
		<link rel="stylesheet" type="text/css" href="/static/front/css/style.css">
		<link rel="stylesheet" href="/static/front/css/swiper.min.css">

		<script src="/static/front/js/jquery-1.10.1.js"></script>		
		<script src="/static/front/js/swiper.min.js"></script>
		<script src="/static/front/js/base.js"> </script>


	</head>
	<body>
	<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="http://www.mi.com/" target="_blank">某米商城</a></li>
						<li>|</li>
						<li><a href="">MIUI</a></li>
						<li>|</li>
						<li><a href="">米聊</a></li>
						<li>|</li>
						<li><a href="">游戏</a></li>
						<li>|</li>
						<li><a href="">多看阅读</a></li>
						<li>|</li>
						<li><a href="">云服务</a></li>
						<li>|</li>
						<li><a href="">金融</a></li>
						<li>|</li>
						<li><a href="">某米商城移动版</a></li>
						<li>|</li>
						<li><a href="">问题反馈</a></li>
						<li>|</li>
						<li><a href="">Select Region</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right fr">
					<div class="gouwuche fr"><a href="">购物车</a></div>
					<div class="fr">
						<ul>
							<li><a href="./login.html" target="_blank">登录</a></li>
							<li>|</li>
							<li><a href="./register.html" target="_blank" >注册</a></li>
							<li>|</li>
							<li><a href="">消息通知</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="./index.html" target="_blank"><div class="logo fl"></div></a>
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul class="clearfix" id="nav_list">
					<li>
						<a href="#" target="_blank">某米手机</a>
					
						<ol class="children-list clearfix">
								
								<li>
									<a href="#">
										<img src="/static/front/image/pinpai2.png" />
										<p>100元</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/front/image/pinpai1.png" />
										<p>100元</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/front/image/pinpai3.png">
										<p>100元</p>
									</a>
								</li>
								<li>
									<a href="#">
											<img src="/static/front/image/pinpai4.png">
											<p>100元</p>
									</a>
								</li>
									
						</ol>
					
					</li>
					<li>
						
						<a href="">红米</a>

						<ol class="children-list clearfix">
								
								<li>
									<a href="#">
										<img src="/static/front/image/pinpai2.png" />
										<p>红米100元</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/front/image/pinpai1.png" />
										<p>红米100元</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/front/image/pinpai3.png">
										<p>红米100元</p>
									</a>
								</li>
								<li>
									<a href="#">
											<img src="/static/front/image/pinpai4.png">
											<p>红米100元</p>
									</a>
								</li>
									
						</ol>
					
					
					
					</li>
					<li><a href="">平板·笔记本</a></li>
					<li><a href="">电视</a></li>
					<li><a href="">盒子·影音</a></li>
					<li><a href="">路由器</a></li>
					<li><a href="">智能硬件</a></li>
					<li><a href="">服务</a></li>
					<li><a href="">社区</a></li>
				</ul>
			</div>
			<div class="search fr">
				<form action="" method="post">
					<div class="text fl">
						<input type="text" class="shuru"  placeholder="某米6&nbsp;某米MIX现货">
					</div>
					<div class="submit fl">
						<input type="submit" class="sousuo" value="搜索"/>
					</div>
					<div class="clear"></div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
<!-- end banner_x -->

	<!-- start banner_y -->
		<div class="banner_y center">


			<div class="nav">
				<ul>
					
					<li>
						
							<a href="category_1.html" target="_blank">手机 电话卡</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_21.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1.jpg" alt="某米移动 电话卡"></div>
													<span class="fl">某米移动 电话卡</span>									
												</a>
											
		
										</div>
										
									</li>
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_3.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582463357.png" alt="Redmi 8"></div>
													<span class="fl">Redmi 8</span>									
												</a>
											
		
										</div>
										
									</li>
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_2.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582463294.png" alt="某米10 Pro"></div>
													<span class="fl">某米10 Pro</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_4.html" target="_blank">电视 盒子</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_5.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582464603.png" alt="某米电视5 55英寸"></div>
													<span class="fl">某米电视5 55英寸</span>									
												</a>
											
		
										</div>
										
									</li>
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_19.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582514664.jpg" alt="全屏电视55寸"></div>
													<span class="fl">全屏电视55寸</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_22.html" target="_blank">笔记本 显示器 平板</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_26.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1594089381272256100.png" alt="显示器"></div>
													<span class="fl">显示器</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_6.html" target="_blank">家电 插线板</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_13.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582513945.jpg" alt="冰箱"></div>
													<span class="fl">冰箱</span>									
												</a>
											
		
										</div>
										
									</li>
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_14.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582514001.jpg" alt="微波炉"></div>
													<span class="fl">微波炉</span>									
												</a>
											
		
										</div>
										
									</li>
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_14.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/hm4-80.jpg" alt="微波炉"></div>
													<span class="fl">微波炉</span>									
												</a>
											
		
										</div>
										
									</li>
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_14.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582514001.jpg" alt="微波炉"></div>
													<span class="fl">微波炉</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_7.html" target="_blank">出行 穿戴</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_15.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582514113.png" alt="某米手表"></div>
													<span class="fl">某米手表</span>									
												</a>
											
		
										</div>
										
									</li>
									
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_16.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582514151.jpg" alt="平衡车"></div>
													<span class="fl">平衡车</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_8.html" target="_blank">智能 路由器</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_17.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582514289.png" alt="路由器"></div>
													<span class="fl">路由器</span>									
												</a>
											
		
										</div>
										
									</li>
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_18.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582514318.jpg" alt="摄像机"></div>
													<span class="fl">摄像机</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_9.html" target="_blank">电源 配件</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_20.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1582514810.png" alt="移动电源"></div>
													<span class="fl">移动电源</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_10.html" target="_blank">健康 儿童</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_23.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1594089221653126500.jpg" alt="婴儿推车"></div>
													<span class="fl">婴儿推车</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_11.html" target="_blank">耳机 音响</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_24.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1594089287177874300.png" alt="某米小爱音箱"></div>
													<span class="fl">某米小爱音箱</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
					<li>
						
							<a href="category_12.html" target="_blank">生活 箱包</a>	
						
						
						<div class="pop">
							<ol class="cate_list clear">
										
								
									<li>
										<div class="xuangou_left">
		
											
		
												<a href="category_25.html" target="_blank" class="clearfix">
													<div class="img fl"><img src="/static/front/image/1594089350990524100.jpg" alt="小背包"></div>
													<span class="fl">小背包</span>									
												</a>
											
		
										</div>
										
									</li>
														
							</ol>
						</div>
					
					</li>
					
		
				</ul>
			</div>
		
			  <div class="swiper-container">
				<div class="swiper-wrapper">
				  <div class="swiper-slide">

						<img src="/static/front/image/focus/focus1.jpg" alt="focus1" />
				  </div>
				  <div class="swiper-slide">
						<img src="/static/front/image/focus/focus2.jpg" alt="focus2" />
				  </div>
				  <div class="swiper-slide">
						<img src="/static/front/image/focus/focus3.jpg" alt="focus3" />
				  </div>				
				</div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			  </div>
		
		</div>	

		<div class="sub_banner center">
			<div class="sidebar fl">
				<div class="fl"><a href=""><img src="/static/front/image/hjh_01.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/front/image/hjh_02.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/front/image/hjh_03.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/front/image/hjh_04.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/front/image/hjh_05.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/front/image/hjh_06.gif"></a></div>
				<div class="clear"></div>
			</div>
			<div class="datu fl"><a href=""><img src="/static/front/image/hongmi4x.png" alt=""></a></div>
			<div class="datu fl"><a href=""><img src="/static/front/image/xiaomi5.jpg" alt=""></a></div>
			<div class="datu fr"><a href=""><img src="/static/front/image/pinghengche.jpg" alt=""></a></div>
			<div class="clear"></div>


		</div>
	<!-- end banner -->

	<!-- start danpin -->
		<div class="danpin center">
			
			<div class="title center">某米明星单品</div>
			<div class="main center">
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img src="/static/front/image/pinpai1.png" alt=""></a></div>
					<div class="pinpai"><a href="">某米MIX</a></div>
					<div class="youhui">5月9日-21日享花呗12期分期免息</div>
					<div class="jiage">3499元起</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img src="/static/front/image/pinpai2.png" alt=""></a></div>
					<div class="pinpai"><a href="">某米5s</a></div>
					<div class="youhui">5月9日-10日，下单立减200元</div>
					<div class="jiage">1999元</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img src="/static/front/image/pinpai3.png" alt=""></a></div>
					<div class="pinpai"><a href="">某米手机5 64GB</a></div>
					<div class="youhui">5月9日-10日，下单立减100元</div>
					<div class="jiage">1799元</div>
				</div>
				<div class="mingxing fl"> 	
					<div class="sub_mingxing"><a href=""><img src="/static/front/image/pinpai4.png" alt=""></a></div>
					<div class="pinpai"><a href="">某米电视3s 55英寸</a></div>
					<div class="youhui">5月9日，下单立减200元</div>
					<div class="jiage">3999元</div>
				</div>
				<div class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img src="/static/front/image/pinpai5.png" alt=""></a></div>
					<div class="pinpai"><a href="">某米笔记本</a></div>
					<div class="youhui">更轻更薄，像杂志一样随身携带</div>
					<div class="jiage">3599元起</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>



		<!-- 手机 -->

		<div class="category_item w">
			<div class="title center">手机</div>
			<div class="main center">


				<div class="category_item_left">

					<img src="static/front/image/shouji.jpg" alt="手机">
				</div>


				<div class="category_item_right">
						

								<div class="hot fl">
										<div class="xinpin"><span>新品</span></div>
										<div class="tu"><a href=""><img src="/static/front/image/peijian2.jpg"></a></div>
										<div class="miaoshu"><a href="">某米6 硅胶保护套</a></div>
										<div class="jiage">49元</div>
										<div class="pingjia">372人评价</div>
										<div class="piao">
											<a href="">
												<span>发货速度很快！很配某米6！</span>
												<span>来至于mi狼牙的评价</span>
											</a>
										</div>
								</div>
								<div class="hot fl">
										<div class="xinpin"><span>新品</span></div>
										<div class="tu"><a href=""><img src="/static/front/image/peijian2.jpg"></a></div>
										<div class="miaoshu"><a href="">某米6 硅胶保护套</a></div>
										<div class="jiage">49元</div>
										<div class="pingjia">372人评价</div>
										<div class="piao">
											<a href="">
												<span>发货速度很快！很配某米6！</span>
												<span>来至于mi狼牙的评价</span>
											</a>
										</div>
								</div>
								<div class="hot fl">
										<div class="xinpin"><span>新品</span></div>
										<div class="tu"><a href=""><img src="/static/front/image/peijian2.jpg"></a></div>
										<div class="miaoshu"><a href="">某米6 硅胶保护套</a></div>
										<div class="jiage">49元</div>
										<div class="pingjia">372人评价</div>
										<div class="piao">
											<a href="">
												<span>发货速度很快！很配某米6！</span>
												<span>来至于mi狼牙的评价</span>
											</a>
										</div>
								</div>
								<div class="hot fl">
										<div class="xinpin"><span>新品</span></div>
										<div class="tu"><a href=""><img src="/static/front/image/peijian2.jpg"></a></div>
										<div class="miaoshu"><a href="">某米6 硅胶保护套</a></div>
										<div class="jiage">49元</div>
										<div class="pingjia">372人评价</div>
										<div class="piao">
											<a href="">
												<span>发货速度很快！很配某米6！</span>
												<span>来至于mi狼牙的评价</span>
											</a>
										</div>
								</div>
	
								<div class="hot fl">
									<div class="xinpin"><span style="background:#fff"></span></div>
									<div class="tu"><a href=""><img src="/static/front/image/peijian3.jpg"></a></div>
									<div class="miaoshu"><a href="">某米手机4c 某米4c 智能</a></div>
									<div class="jiage">29元</div>
									<div class="pingjia">372人评价</div>
								</div>
								
								<div class="hot fl">
										<div class="xinpin"><span style="background:#fff"></span></div>
										<div class="tu"><a href=""><img src="/static/front/image/peijian3.jpg"></a></div>
										<div class="miaoshu"><a href="">某米手机4c 某米4c 智能</a></div>
										<div class="jiage">29元</div>
										<div class="pingjia">372人评价</div>
									</div>
								<div class="hot fl">
									<div class="xinpin"><span style="background:red">享6折</span></div>
									<div class="tu"><a href=""><img src="/static/front/image/peijian4.jpg"></a></div>
									<div class="miaoshu"><a href="">红米NOTE 4X 红米note4X</a></div>
									<div class="jiage">19元</div>
									<div class="pingjia">372人评价</div>
									<div class="piao">
										<a href="">
											<span>发货速度很快！很配某米6！</span>
											<span>来至于mi狼牙的评价</span>
										</a>
									</div>
								</div>
								<div class="hot fl">
									<div class="xinpin"><span style="background:#fff"></span></div>
									<div class="tu"><a href=""><img src="/static/front/image/peijian5.jpg"></a></div>
									<div class="miaoshu"><a href="">某米支架式自拍杆</a></div>
									<div class="jiage">89元</div>
									<div class="pingjia">372人评价</div>
									<div class="piao">
										<a href="">
											<span>发货速度很快！很配某米6！</span>
											<span>来至于mi狼牙的评价</span>
										</a>
									</div>
								</div>

						
							
				</div>
			
			
			</div>
		</div>



		<!-- 配件 -->
		<div class="category_item w">
			<div class="title center">配件</div>
			<div class="main center">
				<div class="content">
					<div class="hot fl"><a href=""><img src="/static/front/image/peijian1.jpg"></a>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span>新品</span></div>
						<div class="tu"><a href=""><img src="/static/front/image/peijian2.jpg"></a></div>
						<div class="miaoshu"><a href="">某米6 硅胶保护套</a></div>
						<div class="jiage">49元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！很配某米6！</span>
								<span>来至于mi狼牙的评价</span>
							</a>
						</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="/static/front/image/peijian3.jpg"></a></div>
						<div class="miaoshu"><a href="">某米手机4c 某米4c 智能</a></div>
						<div class="jiage">29元</div>
						<div class="pingjia">372人评价</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:red">享6折</span></div>
						<div class="tu"><a href=""><img src="/static/front/image/peijian4.jpg"></a></div>
						<div class="miaoshu"><a href="">红米NOTE 4X 红米note4X</a></div>
						<div class="jiage">19元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！很配某米6！</span>
								<span>来至于mi狼牙的评价</span>
							</a>
						</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="/static/front/image/peijian5.jpg"></a></div>
						<div class="miaoshu"><a href="">某米支架式自拍杆</a></div>
						<div class="jiage">89元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！很配某米6！</span>
								<span>来至于mi狼牙的评价</span>
							</a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content">
					<div class="hot fl"><a href=""><img src="/static/front/image/peijian6.png"></a>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="/static/front/image/peijian7.jpg"></a></div>
						<div class="miaoshu"><a href="">某米指环支架</a></div>
						<div class="jiage">19元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>发货速度很快！很配某米6！</span>
								<span>来至于mi狼牙的评价</span>
							</a>
						</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="/static/front/image/peijian8.jpg"></a></div>
						<div class="miaoshu"><a href="">米家随身风扇</a></div>
						<div class="jiage">19.9元</div>
						<div class="pingjia">372人评价</div>
					</div>
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href=""><img src="/static/front/image/peijian9.jpg"></a></div>
						<div class="miaoshu"><a href="">红米4X 高透软胶保护套</a></div>
						<div class="jiage">59元</div>
						<div class="pingjia">775人评价</div>
					</div>
					<div class="hotlast fr">
						<div class="hongmi"><a href=""><img src="/static/front/image/hongmin4.png" alt=""></a></div>
						<div class="liulangengduo"><a href=""><img src="/static/front/image/liulangengduo.png" alt=""></a></div>					
					</div>
					<div class="clear"></div>
				</div>				
			</div>
		</div>
		<footer class="mt20 center">			
			<div class="mt20">测试</div>
			<div>测试</div> 
			<div>测试</div>
		</footer>
	</body>
</html>
{{end}}