@CHARSET "UTF-8";
body {
	background:#ffffff;
}
#login {
	width:740px;
	height:300px;
	/* background:url(../images/loginbg.jpg) no-repeat left center; */
	/*background:#EDEFFC;*/
	margin:120px auto 0 auto;
}

/* 管理员姓名等文字显示 */
#login dl{ 
	width:500px;
	margin:0 0 0 auto;
	padding:10px 0 0 20px;
	color:#000000;
	float:left;
	font-size:15px;
}
#login dl dd {
	margin:16px 0;
	height:32px;
	line-height:32px;
}
#login dl dd input.text {
	width:280px;
	height:30px;
	line-height:30px;
	
}

/* 提交表单的按钮 */
input {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #000000;
   --button_outline_color: #ffffff;
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }


  /* 验证码样式 */
  #verify{	
	height:30px;
	line-height:30px;	  
    width: 90px;
	margin-right:3px;
}
#verify_img{
	cursor:pointer;
    position: relative;
    top:12px;
}
.text{
	height:22px;
}
.l_title{
	height:40px;
	line-height:40px;
	font-size:24px;
	padding-left:5px;
	padding-top:10px;
	color:#000000;
	font-weight:bold;
	
}


.inputbox {
    position: relative;
    width: 196px;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
  }